.container {
  background: linear-gradient(135deg, #99dcf6, #0cd1be);
  border: 3px solid #028ba3;
  border-radius: 7px;
  margin: 60px auto;
  margin-bottom: 3px;
  width: 600px;
  font-family: "Rubik", sans-serif;
}

.open-source-info {
  width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  margin: auto;
  vertical-align: middle;
  color: #026172;
}

h3 {
  font-size: 60px;
  text-align: right;
  color: #026172;
  margin-bottom: 0;
  margin-right: 20px;
}

h4 {
  font-size: 18px;
  text-align: center;
  color: #026f83;
  margin-top: 0px;
}

h5 {
  font-size: 10px;
  text-align: left;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
  margin-bottom: 0;
}

a {
  color: #028ba3;

  transition: all 200ms ease-in-out;
}

a:hover {
  color: #053942;
  text-decoration: none;
}

.active {
  color: #026f83;
  transition: all 200ms ease-in-out;
  cursor: default;
  font-weight: bolder;
}

.active:hover {
  text-decoration: none;
  color: #026f83;
}

.tempCF {
  font-size: 20px;
  position: relative;
  top: -30px;
}

.next-day-temp {
  text-align: left;
  margin-bottom: 0;
  padding-right: 0;
}

.city-container {
  text-align: center;
  width: 100%;
  background: linear-gradient(135deg, #0cd1be, #99dcf6);
  padding: 5px 0 7px;
  margin: 0px 5px 5px 6px;
  border-radius: 7px;
}

.change-location {
  margin: 12px 5px 12px 18px;
  background: transparent;
  color: #026f83;
  border: 1px solid #026f83;
  border-radius: 7px;
  padding: 5px;
}

::placeholder {
  color: #026f83;
  padding-left: 3px;
}

.search-button {
  margin: 3px;
  padding: 2px 25px;
  color: #026f83;
  background: #99dcf6;
  border: 1px solid #026f83;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
}
.search-button:hover {
  cursor: pointer;
  color: #026172;
  background: #0cd1be;
  border: 1px solid #026172;
}

.today-day-time,
.humidity-wind {
  font-size: 15px;
  text-align: center;
  margin: 10px;
  color: #026f83;
}

.center-icon {
  text-align: center;
  width: 100%;
}
.weather-icon-large {
  font-size: 100px;
  padding: 20px 20px 10px 20px;
  color: #b9f6fa;
}

.row .next-day-container {
  border: 1px solid #026f83;
  border-radius: 7px;
  font-size: 15px;
  line-height: 26px;
  margin: 9px 0 9px 0;
  padding: 0;
  color: #026f83;
}
.for-weather-icon-small {
  padding: 0px;
}

.hours-and-temp {
  padding-right: 0;
}
