.container {
  background: linear-gradient(135deg, #136a78, #013242);
  border: 3px solid #24aab6;
  border-radius: 7px;
  margin: 60px auto;
  margin-bottom: 3px;
  width: 600px;
  font-family: "Rubik", sans-serif;
}

.open-source-info {
  width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 30px;
  margin: auto;
  vertical-align: middle;
  color: #75f0f7;
}

h3 {
  font-size: 60px;
  text-align: center;
  color: #b9f6fa;
  margin-bottom: 0;
}

h4 {
  font-size: 18px;
  text-align: center;
  color: #2fd0dc;
  margin-top: 7px;
}

h5 {
  font-size: 10px;
  text-align: left;
}

li {
  list-style: none;
}

ul {
  padding-inline-start: 0;
  margin-bottom: 0;
}

a {
  color: #247e85;

  transition: all 200ms ease-in-out;
}

a:hover {
  color: #4bf3ff;
  text-decoration: none;
}

.active {
  color: #2fd0dc;
  transition: all 200ms ease-in-out;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: #2fd0dc;
}

.tempCF {
  font-size: 20px;
  position: relative;
  top: -30px;
}

.next-day-temp {
  text-align: left;
  margin-bottom: 0;
}

.city-container {
  text-align: center;
  width: 100%;
  background: linear-gradient(135deg, #074655, #136a78);
  padding: 5px 0 7px;
  margin: 0px 5px 10px 6px;
  border-radius: 7px;
}

.change-location {
  margin: 12px 5px 12px 18px;
  background: transparent;
  color: #24aab6;
  border: 1px solid #24aab6;
  border-radius: 7px;
  padding: 5px;
}

::placeholder {
  color: #24aab6;
  padding-left: 3px;
}

.search-button {
  margin: 3px;
  padding: 2px 25px;
  color: #013242;
  background: #24aab6;
  border: 1px solid #013242;
  transition: all 200ms ease-in-out;
  border-radius: 7px;
}
.search-button:hover {
  cursor: pointer;
  color: #24aab6;
  background: #013242;
  border: 1px solid #24aab6;
}

.today-day-time,
.humidity-wind {
  font-size: 15px;
  text-align: center;
  margin: 10px;
  color: #2fd0dc;
}

.center-icon {
  text-align: center;
  width: 100%;
}
.weather-icon-large {
  font-size: 100px;
  padding: 20px 20px 10px 20px;
  color: #b9f6fa;
}

.weather-icon-small {
  font-size: 34px;
  margin-top: 9px;
  color: #31d8e5;
}

.row .next-day-container {
  border: 1px solid #24aab6;
  border-radius: 7px;
  font-size: 19px;
  line-height: 26px;
  margin: 9px 0 9px 0;
  padding: 0;
  color: #24aab6;
}
.col-4 .for-weather-icon-small {
  padding: 2px;
}
